openapi: 3.0.3
info:
  title: SheevaConnect Authentication API
  version: '2.0'
  description: 'This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc. (d/b/a Sheeva.AI) and is proprietary information that may not be duplicated, redistributed, form the basis of derivative works, or publicly performed/displayed without the expressed written permission of Sheeva.AI. If you wish to use the SheevaConnect™ API Specification 2.0 and use the SheevaConnect™ cloud platform, please contact Sheeva.AI for a license.

    SheevaConnect APIs enable connected vehicle payments & last-mile services for various use cases including Fueling, EV Charging, Parking and Retail. This solution allows automated & contactless payment in addition to proactive identification of user needs and last-mile navigation to the nearest Sheeva Pay enabled outlets.

    All APIs follow HTTP status codes, return HTTP 200 OK when successful and following HTTP errors with a message. The message is self explaining to indicate the error in request. The example error codes include :




    Error Code

    Message





    400

    Bad Request : Check the parameter values



    404

    Resource not found



    500

    Internal Server Error




    SheevaConnect creates a session when system detects that vehicle requires a service (FUEL, CHARGING, PARKING). Each session goes through various statuses.

    Session Status Codes




    Status

    Description





    LOW_FUEL_DETECTED

    If vehicle was low on fuel and system has sent the notification to driver for low fuel or if vehicle is not low on fuel but driver clicks on fuel icon to pay.



    LOW_CHARGE_DETECTED

    If vehicle was low on charge and system has sent the notification to driver for low charged or if vehicle is not low on chrage but driver clicks on charge icon to pay.



    AT_SERVICE_HUB

    The driver has reached the fuel station / EV charge station / etc.



    AT_SERVICE_POINT

    The driver is at fuel pump / charging bay.



    SERVICE_POINT_CONFIRMED

    Driver confirms the fuel pump / charging bay.



    SERVICE_IN_PROGRESS

    When driver uses a parking service and vehicle is parked



    SERVICE_COMPLETE

    When user marks the fuel, charging, parking complete



    SERVICE_CANCELLED_BY_DRIVER

    When user cancel the service at the pump/ charging bay



    SERVICE_ABORTED_BY_SYSTEM

    When user does opt for service and move away from fuel pump/ charging bay




    Payment Status Codes




    Status

    Description





    PAYMENT_AUTHORIZED

    When a payment is authorized. Only applicable for Credit Card, Wallet and Rewards.



    PAYMENT_INITIATED

    When a payment is in progress. Only applicable for UPI in India.



    PAYMENT_COMPLETE

    Payment has been processed for a g'
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Authentication
paths:
  /v2/auth:
    get:
      summary: Authentication
      operationId: authentication
      tags:
      - Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                status: success
                accessToken: eyJraWQiOiJDTUpFa3VnQ3N5NkZDNW1ONGJzZThaK3FmaUE5TUhOTEZcL2FzbWMxYVNBTT0iLCJhbGciOiJSUzI1NiJ9.eyJvcmlnaW5fanRpIjoiYTQ5NTgwZTYtZjMwNS00Y2FiLTg5ZjgtZjBmZTVkODMwZjE0Iiwic3ViIjoiODJmYjk0NmItYTlkOC00ZDFkLThmZjAtNjg2OWZiOTkyMDExIiwiYXVkIjoiN3Zvb3Ixcmg1ZGdvOTR0cG8zOGlhbnAyZW0iLCJldmVudF9pZCI6IjRiMDE5OWE3LTA5MDMtNGQwNC05MmRiLWQ4ZmQ2NmNhODJkNyIsInRva2VuX3VzZSI6ImlkIiwiYXV0aF90aW1lIjoxNjY5Mzg5MDY2LCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xX0ZNMVp6aVlZRCIsImNvZ25pdG86dXNlcm5hbWUiOiJ4YXZmazc2ampoemVteXVxZXNxbGFhZjgybnN2bXJkYSIsImV4cCI6MTY2OTM5MjY2NiwiaWF0IjoxNjY5Mzg5MDY2LCJqdGkiOiJlM2IwZmI5NC01MmNmLTQyMjUtYWJjOC1kZGUzZmU0NzRiNWEifQ.h0-3V-VXIspFaXPRLvxHOxM_-J5wba6gPvKB7djTLEkja6OVnAIr3O4RfW96AcII7-ybCziVtqXc-6hUXMw9eLrrHNwO_5MHK6S89XQaMCU75ySLCuQzF9M_hgq8m7pIuEEuvVr8g0LbYNZ3aIMlCwuVsWS16gMgbJUH9yHx1K1jNs3hAg0OmeZHl6NF39LcU7gsB_U4t1s__t-vhy534FiC-eCSHzRjpcsBEWHGSaizP_7BUb3jmtLKdOUbuTDebGtPB9ZCVQqVdZu4sLcdLMYZ3hBnfSdCjQtQMNfk4m7d24HbDV_T5aDuqN8s5r1_FPSbLWw354xEv1_vSo3luQ
                expiresIn: 3600
      description: 'The authentication service endpoint is used to get an access token, which must be sent with each call as a Bearer Token.

        If successful, returns: HTTP 200 OK.

        '
      parameters:
      - name: client-id
        in: header
        required: true
        schema:
          type: string
        description: '<p>Assigned by Sheeva.AI</p>

          '
      - name: client-secret
        in: header
        required: true
        schema:
          type: string
        description: '<p>Assigned by Sheeva.AI</p>

          '
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
