openapi: 3.2.0
info:
  title: SheevaConnect Webhooks API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Webhooks
paths:
  /v2/partner-apis/webhooks/status-updates:
    post:
      summary: Register Status Webhook
      operationId: registerStatusWebhook
      tags:
      - Webhooks
      responses:
        '201':
          description: Created
      description: 'This request allows registering an HTTP POST status webhook with SeevaConnect.

        If successful, returns: HTTP 201 CREATED.

        Examples below demonstrate the json body Sheeva will call your registered webhook endpoint with:


        Service Alert Example

        Status Callback Example


        Status:


        Status

        serviceType


        LOW_FUEL_DETECTED

        FUEL


        LOW_CHARGE_DETECTED

        CHARGING


        AT_SERVICE_HUB

        FUEL, CHARGING, PARKING


        AT_SERVICE_POINT

        FUEL, CHARGING, PARKING


        SERVICE_POINT_CONFIRMED

        FUEL, CHARGING, PARKING


        SERVICE_IN_PROGRESS

        PARKING


        SERVICE_COMPLETE

        FUEL, CHARGING, PARKING


        SERVICE_CANCELLED_BY_DRIVER

        FUEL, CHARGING, PARKING


        SERVICE_ABORTED_BY_SYSTEM

        FUEL, CHARGING, PARKING


        PAYMENT_COMPLETE

        FUEL, CHARGING, PARKING


        PAYMENT_FAILED

        FUEL, CHARGING, PARKING'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              webhookUrl: https://test.denso.com
              hmacSigningKey: f7bc83f430538424b13298e6aa6fb143ef4d59a14946175997479dbc2d1a3cd8
              apikey: af75e1f0-f472-48bb-83b2-35541dc860dd
  /v2/partner-apis/webhooks:
    get:
      summary: Get Registered Web Hooks
      operationId: getRegisteredWebHooks
      tags:
      - Webhooks
      responses:
        '200':
          description: OK
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
  /v2/partner-apis/webhooks/{webhook-id}:
    delete:
      summary: Delete a Web Hook
      operationId: deleteAWebHook
      tags:
      - Webhooks
      responses:
        '200':
          description: OK
      parameters:
      - name: webhook-id
        in: path
        required: true
        schema:
          type: string
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
