openapi: 3.2.0
info:
  title: SheevaConnect Driver Alerts API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Driver Alerts
paths:
  /v2/partner-apis/alerts:
    post:
      summary: Update Alert Preference
      operationId: updateAlertPreference
      tags:
      - Driver Alerts
      responses:
        '200':
          description: OK
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              lowFuelAlertThreshold: 25
              lowChargeAlertThreshold: 30
              chargeCompleteThreshold: 80
  /v2/partner-apis/alerts/:
    get:
      summary: Get Alert Preference
      operationId: getAlertPreference
      tags:
      - Driver Alerts
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                lowFuelAlertThreshold: 25
                lowChargeAlertThreshold: 30
                chargeCompleteThreshold: 80
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              lowFuelAlertThreshold: 25
              lowChargeAlertThreshold: 30
              chargeCompleteThreshold: 80
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
