openapi: 3.2.0
info:
  title: SheevaConnect UPI API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: UPI
paths:
  /v2/partner-apis/payments/upi/payment-complete:
    post:
      summary: UPI Payment Complete
      operationId: upiPaymentComplete
      tags:
      - UPI
      responses:
        '200':
          description: OK
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
  /v2/partner-apis/payments/upi/initiate:
    post:
      summary: Pay For Order
      operationId: payForOrder
      tags:
      - UPI
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                success: false
                reason: Payment intent url is not available
      description: Sending demoMode=1 would run a transaction with fake payment and will not activate the pump, charger or the parking lot. This helps with simulated testing in the sandbox / development.
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              purchaseAmount: 50
              serviceType: PARKING
              vin: ''
              driverId: ''
              quoteId: quote_12121212
              paymentInstruments:
              - amount: 50
                type: upi
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
