openapi: 3.2.0
info:
  title: SheevaConnect Service Hubs (Points Of Interest) API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Service Hubs (Points Of Interest)
paths:
  /v2/partner-apis/serviceHubs:
    get:
      summary: Get Service Hubs
      operationId: getServiceHubs
      tags:
      - Service Hubs (Points Of Interest)
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
              - id: fst_380a228fd332746cadc3
                type: FUEL
                displayName: TEANECK TWSP
                currency: USD
                location: 40.885482,-74.007431
                logoUrl: https://dev-in-sheeva-tandc.s3.ap-south-1.amazonaws.com/iocl_logo.png
                addressDetails:
                  streetAddress: Blythe Road, Chamberlayne
                  city: Richmond
                  state: Virginia
                  zipCode: '23116'
                  country: US
                fuelPrices:
                - fuelType: Gas Regular
                  price: 3.5
                  unit: gallon
                - fuelType: Gas Premium
                  price: 4.5
                  unit: gallon
                - fuelType: Diesel
                  price: 3.5
                  unit: gallon
                promotions:
                - name: Reward Days
                  category: FUEL
                  discount: Get 10 cents off per gallon
                  mediaURL: https://example.com/abc.jpg
                amenities:
                - Washrooms
                - Free Air
                - Convenience Store
                operatingHours:
                - 06:00-23:30
                openingHours:
                - day: '1'
                  hours:
                  - 5:00 - 22:00
                - day: '2'
                  hours:
                  - 5:00 - 22:00
                - day: '3'
                  hours:
                  - 5:00 - 22:00
                - day: '4'
                  hours:
                  - 5:00 - 22:00
                - day: '5'
                  hours:
                  - 5:00 - 22:00
                - day: '6'
                  hours:
                  - 6:00 - 22:00
                - day: '7'
                  hours:
                  - 8:00 - 22:00
                paymentEnabled: true
                distance: 8.710607771265286
                address: Blythe Road, Chamberlayne
                city: Richmond
                stateCode: VA
      description: 'This request returns POIs based on geolocation and service type.

        If successful, returns: HTTP 201 CREATED.'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
    post:
      summary: Get Service Hubs (Deprecated)
      operationId: getServiceHubs2
      tags:
      - Service Hubs (Points Of Interest)
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
              - poiId: cst_3f798db4b2fef377ab1b
                type: CHARGING
                displayName: PARKRDIGE IV
                currency: USD
                location: 38.943907,-77.312812
                address: 10700 Parkridge Blvd, Reston, va, us
                active: true
                chargers:
                - latitude: 38.943905
                  longitude: -77.312798
                  unified_connector_id: db5d95aa-f69a-443a-b8cd-3aac6627360f
                  station_id: 84cc78fd-2c53-48a3-9c21-3aeeb08e0f97
                  connector_name: PARKRDIGE IV, STATION 1
                  base_rate: 0.19
                  connector_type: J-1772
                  network: Charge_Point
                  speed: 6.6
                  availability: available
                  street_address: 10700 Parkridge Blvd
                  city: Reston
                  state: Virginia
                - latitude: 38.943905
                  longitude: -77.312798
                  unified_connector_id: 90f29fbe-18fd-4c95-bb14-05a990af579f
                  station_id: 84cc78fd-2c53-48a3-9c21-3aeeb08e0f97
                  connector_name: PARKRDIGE IV, STATION 1
                  base_rate: 0.19
                  connector_type: J-1772
                  network: Charge_Point
                  speed: 6.6
                  availability: available
                  street_address: 10700 Parkridge Blvd
                  city: Reston
                  state: Virginia
              - poiId: cst_6f216de55c646e5231d9
                type: CHARGING
                displayName: WOLF TRAP
                currency: USD
                location: 38.933441,-77.265007
                address: 1645 Trap Rd, Vienna, va, us
                active: true
                chargers:
                - latitude: 38.933426
                  longitude: -77.264969
                  unified_connector_id: 8ad1da7f-fa0e-4152-aec2-f3c48c0c7f0b
                  station_id: 81d0f7e9-f1a0-45e5-b959-1d3dfd3366e9
                  connector_name: WOLF TRAP, BARNS@WOLF TRAP
                  base_rate: 0.0
                  connector_type: J-1772
                  network: Charge_Point
                  speed: 6.6
                  availability: available
                  street_address: 1645 Trap Rd
                  city: Vienna
                  state: Virginia
                - latitude: 38.933426
                  longitude: -77.264969
                  unified_connector_id: fcaea0c9-3841-40bb-94f4-1ae96e724e93
                  station_id: 81d0f7e9-f1a0-45e5-b959-1d3dfd3366e9
                  connector_name: WOLF TRAP, BARNS@WOLF TRAP
                  base_rate: 0.0
                  connector_type: J-1772
                  network: Charge_Point
                  speed: 6.6
                  availability: in_use
                  street_address: 1645 Trap Rd
                  city: Vienna
                  state: Virginia
      description: 'This request returns POIs based on geolocation and service type.

        If successful, returns: HTTP 201 CREATED.'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              latitude: 38.9262643
              longitude: -77.2428208
              searchValue: 5
              distance: MILES
              type: FUEL
  /v2/partner-apis/serviceHubs/{serviceHubId}:
    get:
      summary: Get Service Hub Details
      operationId: getServiceHubDetails
      tags:
      - Service Hubs (Points Of Interest)
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                displayName: Marina Lot 9
                currency: USD
                location: 33.982403360821465,-118.4560913004027
                addressDetails:
                  city: N/A
                  state: N/A
                  zipCode: N/A
                  country: N/A
                  streetAddress: N/A
                amenities:
                - Convenience Store
                - Free Air
                - Washrooms
                promotions:
                - name: Reward Days
                  category: PARKING
                  discount: N/A
                  mediaURL: https://example.com/abc.jpg
                polygon: 33.982144 -118.455279;33.982945 -118.456666;33.982662 -118.456904;33.981964 -118.455694;33.982008 -118.455657;33.981974 -118.455600;33.981971 -118.455538;33.981993 -118.455475;33.982082 -118.455331;33.982144 -118.455279
                timezone: America/Los_Angeles
                openingHours:
                - day: '1'
                  hours:
                  - 5:00 - 22:00
                - day: '2'
                  hours:
                  - 5:00 - 22:00
                - day: '3'
                  hours:
                  - 5:00 - 22:00
                - day: '4'
                  hours:
                  - 5:00 - 22:00
                - day: '5'
                  hours:
                  - 5:00 - 22:00
                - day: '6'
                  hours:
                  - 6:00 - 22:00
                - day: '7'
                  hours:
                  - 8:00 - 22:00
                id: '1100053'
      parameters:
      - name: serviceHubId
        in: path
        required: true
        schema:
          type: string
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
