openapi: 3.2.0
info:
  title: SheevaConnect Session API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Session
paths:
  /v2/partner-apis/sessions/current-session:
    get:
      summary: Get Currently Active Sessions
      operationId: getCurrentlyActiveSessions
      tags:
      - Session
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                vehicleLocation:
                  latitude: 19.16323715308841
                  longitude: 72.85860447032306
                  timestamp: 1668531651000
                activeSessions:
                - id: parking_payments_14141asdqwe
                  currentState: CONFIRMED
                  paymentStatus: PAYMENT_COMPLETED
                  serviceType: PARKING
      description: 'This request returns current fuel session state and details if there is any session with the specified type actively running in the system.

        If successful, returns: HTTP 200 OK.

        Response Body Field Description:


        Field

        Description


        vehicleLocation

        Current vehicle location latitude, longitude, timestamp ( in EPOCH )


        activeSessions

        Array of active session(s) for the the vehicle - if there is any, otherwise it will come as empty


        activeSessions[0].id

        Unique service hub identifier


        activeSessions[0].currentState

        Current state of the session e.g. LOW_FUEL_DETECTED, AT_SERVICE_HUB


        activeSessions[0].serviceType

        Type of the service for which the session is created FUEL, CHARGING, PARKING, TOLL'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
  /v2/partner-apis/sessions/{sessionId}:
    get:
      summary: Get Details of a Session
      operationId: getDetailsOfASession
      tags:
      - Session
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                vehicleLocation:
                  latitude: 33.02031165
                  longitude: -96.83407293
                  timestamp: 1719587666391
                session:
                  id: parking_UbnAGCt2fQItXcZHsrE8
                  currentState: SERVICE_COMPLETE
                  serviceType: PARKING
                  startTime: '2024-06-19 12:04:00'
                  endTime: '2024-06-19 13:04:00'
                  paymentStatus: COMPLETED
                  paymentInstrument:
                    type: CREDIT_CARD
                    id: pay_xzsN38mYF7zoMHqoO8iv
                    amount: 24.0
                serviceHub:
                  paymentInstrument:
                    type: CREDIT_CARD
                    id: pay_xzsN38mYF7zoMHqoO8iv
                    amount: 24.0
                  displayName: Marina Lot 9
                  currency: USD
                  location: 33.982403360821465,-118.4560913004027
                  addressDetails:
                    city: N/A
                    state: N/A
                    zipCode: N/A
                    country: N/A
                    streetAddress: N/A
                  amenities:
                  - Convenience Store
                  - Free Air
                  - Washrooms
                  promotions:
                  - name: Reward Days
                    category: PARKING
                    discount: N/A
                    mediaURL: https://example.com/abc.jpg
                  polygon: 33.982144 -118.455279;33.982945 -118.456666;33.982662 -118.456904;33.981964 -118.455694;33.982008 -118.455657;33.981974 -118.455600;33.981971 -118.455538;33.981993 -118.455475;33.982082 -118.455331;33.982144 -118.455279
                  timezone: America/Los_Angeles
                  openingHours:
                  - day: '1'
                    hours:
                    - 5:00 - 22:00
                  - day: '2'
                    hours:
                    - 5:00 - 22:00
                  - day: '3'
                    hours:
                    - 5:00 - 22:00
                  - day: '4'
                    hours:
                    - 5:00 - 22:00
                  - day: '5'
                    hours:
                    - 5:00 - 22:00
                  - day: '6'
                    hours:
                    - 6:00 - 22:00
                  - day: '7'
                    hours:
                    - 8:00 - 22:00
                  id: '1100053'
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
  /v2/partner-apis/sessions/{sessionId}/rating:
    post:
      summary: Collect Rating for Completed Session
      operationId: collectRatingForCompletedSession
      tags:
      - Session
      responses:
        '201':
          description: Created
      description: 'This API takes in the star rating for a given session and stores it on session and also against service hub (for example fuel station).

        API will return HTTP Status Code 201'
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              comments: Feedback of the customer about the service hub
  /v2/partner-apis/sessions/{sessionId}/confirm-service-point:
    post:
      summary: Confirm Service Point
      operationId: confirmServicePoint
      tags:
      - Session
      responses:
        '200':
          description: Response
      description: 'API to confirm the service point associated with service.


        Fuel Pump in case of serviceType = "FUEL"

        Charging connector in case of serviceType = "CHARGING"

        Parking lot in case of serviceType = "PARKING"


        Sending demoMode=1 would run a transaction with fake payment and will not activate the pump, charger or the parking lot. This helps with simulated testing in the sandbox / development.'
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              servicePointId: '1'
              parking:
                duration: 30
  /v2/partner-apis/sessions/{sessionId}/mark-service-complete:
    post:
      summary: Mark Service Complete
      operationId: markServiceComplete
      tags:
      - Session
      responses:
        '201':
          description: Response
      description: 'NOTE: This api is applicable for serviceType="PARKING"'
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              serviceType: PARKING
  /v2/partner-apis/sessions/cancel:
    post:
      summary: Cancel the FUEL session by Vin( DEV environment only )
      operationId: cancelTheFuelSessionByVin
      tags:
      - Session
      responses:
        '201':
          description: Response
      description: 'NOTE: This api is applicable for DEV environment and FUEL sessions only.

        API is to help developer to cancel the session during integration for the given vin and serviceType(FUEL).'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example: {}
  /v2/partner-apis/sessions/{sessionId}/cancel:
    post:
      summary: Cancel the FUEL session by sessionId ( DEV environment only )
      operationId: cancelTheFuelSessionBySessionid
      tags:
      - Session
      responses:
        '201':
          description: Response
      description: 'NOTE: This api is applicable for DEV environment and FUEL sessions only.

        API is to help developer to cancel the session during integration for the given sessionId. Use "Get Currently Active Sessions" API to retrieve action sessionId.'
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
