openapi: 3.2.0
info:
  title: SheevaConnect Payments API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Payments
paths:
  /v2/partner-apis/payments/supported-payment-methods:
    get:
      summary: Get Supported Payment Methods
      operationId: getSupportedPaymentMethods
      tags:
      - Payments
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
              - CREDITCARD
              - UPI
              - BNPL
              - WALLET
              - LOYALTYPOINTS
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
  /v2/partner-apis/payments/authorize-transaction:
    post:
      summary: Authorize Payment
      operationId: authorizePayment
      tags:
      - Payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                success: false
                reason: Credit card declined
      description: Sending demoMode=1 would run a transaction with fake payment and will not activate the pump, charger or the parking lot. This helps with simulated testing in the sandbox / development.
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              purchaseAmount: 150
              paymentInstruments:
              - type: creditCard
                id: card_41414141
                amount: 100
              - amount: 50
                type: rewards
                loyaltyProgramId: loyalty_123456
                organizationId: Sheeva-1
                serviceProviderCode: Sheeva-1
              demoMode: 0
  /v2/partner-apis/payments/upi/payment-status:
    get:
      summary: Payment Status
      operationId: paymentStatus
      tags:
      - Payments
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                paymentStatus: PAYMENT_COMPLETE
                paymentAckCode: Pay-12345678
                paymentAckType: QR_CODE
                paymentAckPlatform: IOCL PAY
                paymentConfirmationStatus: READY
                serviceStatus: SERVICE_CONFIRMED
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
