openapi: 3.2.0
info:
  title: SheevaConnect Parking API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Parking
paths:
  /v2/partner-apis/parking/quote:
    get:
      summary: Get Quote
      operationId: getQuote
      tags:
      - Parking
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                serviceHubId: '1100053'
                sessionId: parking_UbnAGCt2fQItXcZHsrE8
                quoteId: d7156f56-3c6c-458a-8203-ee1d6c026f68
                startTime: '2024-06-19 13:12:00'
                endTime: '2024-06-19 14:12:00'
                price: 2
                currency: USD
                createdAt: 1719950406962
                expiresIn: 15
      description: Sending demoMode=1 would run a transaction with fake payment and will not activate the pump, charger or the parking lot. This helps with simulated testing in the sandbox / development.
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
  /v2/partner-apis/parking/reserve:
    post:
      summary: Reserve Parking
      operationId: reserveParking
      tags:
      - Parking
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                orderId: 3de93d80-5b67-4cbf-a1f9-2482171b4f08
                confirmationCode: '10001'
      description: Sending demoMode=1 would run a transaction with fake payment and will not activate the pump, charger or the parking lot. This helps with simulated testing in the sandbox / development.
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              vin: '{{vin}}'
              sessionId: '{{parkingSessionId}}'
              quoteId: '{{quoteId}}'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
