openapi: 3.2.0
info:
  title: SheevaConnect Transactions API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Transactions
paths:
  /v2/partner-apis/transactions:
    get:
      summary: Get Payment Transactions
      operationId: getPaymentTransactions
      tags:
      - Transactions
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                transactions:
                - paymentId: pay_2y2aDe6BEqbLCYJlgLcd
                  transactionId: 10261296-166853171260
                  sessionId: fuel_BOuBK76KoPMICbp14Ute
                  serviceHub:
                    name: ICar Port
                    streetAddress: 10B, Ram Nagar, Chennai
                  vehicle:
                    licensePlate: MH 01 AB 1234
                    model: Compass
                    make: Jeep
                    year: 2023
                    color: RED
                  status: SERVICE_COMPLETE
                  paymentStatus: PAYMENT_COMPLETE
                  serviceType: FUEL
                  currency: INR
                  amount: 100.0
                  paymentType: upi
                  createdAt: 1668531651000
                metadata:
                  result_set:
                    count: 25
                    offset: 0
                    limit: 25
                    total: 77
      description: 'This request returns payment transactions done by the driver or by the vin/vehicle. This API supports pagination.

        Response Body Field Descriptions :


        Field

        Description


        paymentId

        Sheeva.AI unique paymentId


        transactionId

        Order number for this transaction


        driverId

        Sheeva.AI unique driverId


        vin

        Unique vehicle identifier


        sessionId

        Service type session identifier


        poiName

        Point of Interest (POI) name - station name for fuel service


        licensePlate

        Vehicle registration number


        status

        Session status code (Refer definitions of Session Status Codes above)


        paymentStatus

        Payment status (Refer definitions of Payment Status Codes above)


        serviceType

        Service availed with this transaction


        currency

        Currency code


        model

        Vehicle model


        amount

        Transaction amount


        rewardAmount

        Reward amo'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
  /v2/partner-apis/transactions/details:
    get:
      summary: Get Payment Transactions Details
      operationId: getPaymentTransactionsDetails
      tags:
      - Transactions
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                driver:
                  driverId: dri_dafa233
                  firstName: Lokesh
                  lastName: Kumar
                transaction:
                  vehicle:
                    vin: HUT242424242
                    licensePlate: MH 01 AB 1234
                    model: Compass
                    make: Jeep
                    year: 2023
                    color: RED
                    fuelTypes:
                    - diesel
                    connectorType: J1772
                    active: true
                  serviceHub:
                    id: fst_dbe5bcc470b1cb3e5375
                    name: ICar Port
                    pump: '3'
                    location: 19.102809,72.873848
                    logoUrl: https://dev-in-sheeva-tandc.s3.ap-south-1.amazonaws.com/iocl_logo.png
                    addressDetails:
                      streetAddress: Aarey Colony, Goregaon
                      city: Mumbai
                      state: Maharashtra
                      zipCode: '400065'
                      country: India
                  paymentId: pay_2y2aDe6BEqbLCYJlgLcd
                  transactionId: 10261296-166853171260
                  sessionId: fuel_BOuBK76KoPMICbp14Ute
                  status: SERVICE_COMPLETE
                  paymentStatus: PAYMENT_COMPLETE
                  serviceType: FUEL
                  currency: INR
                  amount: 100.0
                  paymentInstruments:
                  - type: upi
                    amount: 50.0
                    transactionId: AXI59bc02049a9447c0bf53e8367175ac42
                  - type: rewards
                    name: Sheeva Rewards
                    organization: Sheeva
                    serviceProviderCode: Sheeva
                    serviceProviderName: Sheeva
                    amount: 20.0
                    transactionId: rewards-sheeva-1213141
                  - type: rewards
                    name: IOCL XtraRewards
                    organization: IOCL
                    serviceProviderCode: IOCL
                    serviceProviderName: Indian Oil Corporation
                    amount: 30.0
                    transactionId: rewards-iocl-xtra-12412412
                  rewardsEarned:
                  - type: rewards
                    name: Sheeva Rewards
                    organization: Sheeva
                    serviceProviderCode: Sheeva
                    serviceProviderName: Sheeva
                    points: 100
                    amount: 10
                    transactionId: rewards-sheeva-1213142
                  createdAt: 1668531651000
      description: 'This request returns the details of a single payment transaction.

        If successful, returns: HTTP 200 OK.

        Response Body Field Description:


        Field

        Description


        paymentId

        Sheeva.AI unique paymentId


        transactionId

        Order number for this transaction


        driverId

        Sheeva.AI unique driverId


        vehicleId

        Unique vehicle identifier


        sessionId

        Service type session identifier


        poiName

        Point of Interest (POI) name - station name for fuel service


        licensePlate

        Vehicle registration number


        status

        Transaction status: COMPLETED Transaction was completed successfully FAILED Transaction failed DISCARDED Transaction was not attempted within the time limit, hence discarded.


        serviceType

        Service availed with this transaction: [FUEL, CHARGING, PARKING, TOLL, etc.]


        currency

        Currency code: [E.g.: USD, INR'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
  /v2/partner-apis/transactions/receipt:
    get:
      summary: Get Payment Receipt
      operationId: getPaymentReceipt
      tags:
      - Transactions
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                receiptStatus: NOT_AVAILABLE
      description: 'This request triggers sending the PDF receipt URL to a messaging channel, currently WhatsApp.

        If successful, returns: HTTP 200 OK.'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
