openapi: 3.2.0
info:
  title: SheevaConnect Vehicle Events API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Vehicle Events
paths:
  /vehicle-events:
    post:
      summary: Vehicle Events
      operationId: vehicleEvents
      tags:
      - Vehicle Events
      responses:
        '200':
          description: Response
      description: 'This request accepts vehicle status for multiple vehicles, which includes current vehicle location, fuel / charge level, speed, parking brake and ignition status.

        If successful, returns: HTTP 201 CREATED.

        Note: This replaces the older "Vehicle Events" endpoint. Use this instead.'
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      - name: clientId
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
            - vin: TSTLRGBL663PR2127
              statuses:
              - key: speed
                value: '30.5'
                timestamp: 1685619240
              - key: fuelLevel
                value: '6'
                timestamp: 1685619240
              - key: chargingLevel
                value: '6'
                timestamp: 1685619240
              - key: ignition
                value: 'on'
                timestamp: 1685619240
              location:
                latitude: 38.9263669701
                longitude: -77.2406171718
                timestamp: 1685619240
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
