openapi: 3.2.0
info:
  title: SheevaConnect Loyalty API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Loyalty
paths:
  /v2/partner-apis/loyalty-programs:
    get:
      summary: Get My Programs
      operationId: getMyPrograms
      tags:
      - Loyalty
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
              - loyaltyMembershipId: LY100123418489768
                availablePoints: 1.0
                id: iocl_xtrarewards
                name: IOCL Xtrarewards
                organization: Indian Oil Corporation Ltd
                serviceProviderCode: IOCL
                serviceProviderName: Indian Oil Corporation Ltd
                scheme: PointBasedRewards
                balance:
                  points: 800
                  amount: 50
                  currency: INR
                redemptionRules:
                  minPoints: 50.0
                  network: IOCL
                conversionRule:
                  redeem: 50.0
                  exchangeRatio: 0.3
                  redeemCurrency: POINTS
                  exchangeCurrency: INR
                  displayText: Redeem 50 Points for Rs. 15
                earningRule:
                  spend: 75.0
                  earn: 1.0
                  spendCurrency: INR
                  earnCurrency: POINTS
                  displayText: For every Rs. 75 spent, earn 1 Point(s)
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
    post:
      summary: Sign up for a program
      operationId: signUpForAProgram
      tags:
      - Loyalty
      responses:
        '200':
          description: OK
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              driverId: '{{driverId}}'
              loyaltyProgramId: '{{loyaltyProgramId}}'
  /v2/partner-apis/loyalty-programs/convert-my-points:
    post:
      summary: Calculate Rewards (Amount)
      operationId: calculateRewards
      tags:
      - Loyalty
      responses:
        '200':
          description: Response
          content:
            application/json:
              example:
                id: iocl-xtrarewards
                rewardPoints: 123.43
                amount: 35.4
                currency: INR
      parameters:
      - name: x-sheeva-program-code
        in: header
        required: true
        schema:
          type: string
        description: Provided by Sheeva
      requestBody:
        content:
          application/json:
            example:
              id: iocl_xtrarewards
              rewardPoints: 123.43
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
