openapi: 3.2.0
info:
  title: SheevaConnect Authentication API
  version: '2.0'
  description: This SheevaConnect™ API Specification 2.0 is © 2024 Parkofon Inc.
  contact:
    name: Sheeva.AI
    url: https://sheeva.ai/contact-us
  x-company: Parkofon Inc. (d/b/a Sheeva.AI)
servers:
- url: https://us-apis.sheeva.ai
  description: Production (USA)
- url: https://in-apis.sheeva.ai
  description: Production (India)
- url: https://dev-us-apis.sheeva.ai
  description: Sandbox (USA)
- url: https://dev-in-apis.sheeva.ai
  description: Sandbox (India)
security:
- bearerAuth: []
tags:
- name: Authentication
paths:
  /v2/auth:
    get:
      summary: Authentication
      operationId: authentication
      tags:
      - Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                status: success
                accessToken: eyJraWQiOiJDTUpFa3VnQ3N5NkZDNW1ONGJzZThaK3FmaUE5TUhOTEZcL2FzbWMxYVNBTT0iLCJhbGciOiJSUzI1NiJ9.eyJvcmlnaW5fanRpIjoiYTQ5NTgwZTYtZjMwNS00Y2FiLTg5ZjgtZjBmZTVkODMwZjE0Iiwic3ViIjoiODJmYjk0NmItYTlkOC00ZDFkLThmZjAtNjg2OWZiOTkyMDExIiwiYXVkIjoiN3Zvb3Ixcmg1ZGdvOTR0cG8zOGlhbnAyZW0iLCJldmVudF9pZCI6IjRiMDE5OWE3LTA5MDMtNGQwNC05MmRiLWQ4ZmQ2NmNhODJkNyIsInRva2VuX3VzZSI6ImlkIiwiYXV0aF90aW1lIjoxNjY5Mzg5MDY2LCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuYXAtc291dGgtMS5hbWF6b25hd3MuY29tXC9hcC1zb3V0aC0xX0ZNMVp6aVlZRCIsImNvZ25pdG86dXNlcm5hbWUiOiJ4YXZmazc2ampoemVteXVxZXNxbGFhZjgybnN2bXJkYSIsImV4cCI6MTY2OTM5MjY2NiwiaWF0IjoxNjY5Mzg5MDY2LCJqdGkiOiJlM2IwZmI5NC01MmNmLTQyMjUtYWJjOC1kZGUzZmU0NzRiNWEifQ.h0-3V-VXIspFaXPRLvxHOxM_-J5wba6gPvKB7djTLEkja6OVnAIr3O4RfW96AcII7-ybCziVtqXc-6hUXMw9eLrrHNwO_5MHK6S89XQaMCU75ySLCuQzF9M_hgq8m7pIuEEuvVr8g0LbYNZ3aIMlCwuVsWS16gMgbJUH9yHx1K1jNs3hAg0OmeZHl6NF39LcU7gsB_U4t1s__t-vhy534FiC-eCSHzRjpcsBEWHGSaizP_7BUb3jmtLKdOUbuTDebGtPB9ZCVQqVdZu4sLcdLMYZ3hBnfSdCjQtQMNfk4m7d24HbDV_T5aDuqN8s5r1_FPSbLWw354xEv1_vSo3luQ
                expiresIn: 3600
      description: 'The authentication service endpoint is used to get an access token, which must be sent with each call as a Bearer Token.

        If successful, returns: HTTP 200 OK.'
      parameters:
      - name: client-id
        in: header
        required: true
        schema:
          type: string
        description: '<p>Assigned by Sheeva.AI</p>

          '
      - name: client-secret
        in: header
        required: true
        schema:
          type: string
        description: '<p>Assigned by Sheeva.AI</p>

          '
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token obtained from GET /v2/auth (exchange client-id/client-secret), sent in the Authorization header.
    clientCredentials:
      type: apiKey
      in: header
      name: client-id
      description: client-id + client-secret headers on GET /v2/auth to obtain an access token.
